@using KanbanRby.Models
@rendermode InteractiveServer
@using Sessions.Interfaces
@inject IUserSession UserSession
@using Services.Interfaces
@using Task = System.Threading.Tasks.Task
@using TaskModel = KanbanRby.Models.Task
@inject ITaskManagementService TaskService

@if (IsLoggedIn)
{
    <button class="btn btn-primary" style="margin: 2px" @onclick="ShowPopup">+</button>
    @if (isPopupVisible)
    {
        <div class="popup-overlay">
            <div class="popup-content" @onabort:stopPropagation="true">
                <EditForm Model="@_newTask" OnValidSubmit="@CreateAndClosePopup" FormName="CreateTask">
                    <div>
                        <label>Name: </label>
                        <InputText @bind-Value="@_taskName"></InputText>
                    </div>
                    <div>
                        <label>Description: </label>
                        <InputText @bind-Value="@_taskDescription"></InputText>
                    </div>
                    <button type="submit">Save and close</button>
                </EditForm>
            </div>
        </div>
    }
    @code {
        [Parameter]
        public int CardId { get; set; }
        private bool isPopupVisible = false;
        private TaskModel _newTask = new TaskModel();
        private string _taskName;
        private string _taskDescription;
        private bool IsLoggedIn;
        
        private void ShowPopup()
        {
            isPopupVisible = true;
        }

        private async Task CreateAndClosePopup()
        {
            var user = UserSession.CurrentUser;
            try
            {
                await TaskService.CreateTaskAsync(_taskName, CardId);
            }
            catch(Exception e)
            {
                Console.WriteLine(e.Message);
            }
            
            isPopupVisible = false;
        }

        protected override async Task OnInitializedAsync()
        {
            IsLoggedIn = await UserSession.IsLoggedInAsync();
        }
    }
}