@using KanbanRby.Models
@rendermode InteractiveServer
@using Sessions.Interfaces
@inject IUserSession UserSession
@using Services.Interfaces
@using Task = System.Threading.Tasks.Task
@using TaskModel = KanbanRby.Models.Task
@inject ITaskManagementService TaskService

@if (IsLoggedIn)
{
    <button class="btn btn-primary" style="margin: 2px" @onclick="ShowPopup">+</button>
    @if (isPopupVisible)
    {
        <div class="popup-overlay" @onclick="HidePopup">
            <div class="popup-content" @onclick:stopPropagation="true">
                <h3>Create New Task</h3>
                <EditForm Model="@_newTask" OnValidSubmit="@CreateAndClosePopup" FormName="CreateTask">
                    <div>
                        <label>Name</label>
                        <InputText @bind-Value="@_taskName" placeholder="Enter task name"></InputText>
                    </div>
                    <div>
                        <label>Description</label>
                        <InputText @bind-Value="@_taskDescription" placeholder="Enter task description"></InputText>
                    </div>
                    <div style="margin-top: 1rem;">
                        <button type="button" class="btn btn-secondary" @onclick="HidePopup">Cancel</button>
                        <button type="submit" class="btn btn-success">Create Task</button>
                    </div>
                </EditForm>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public int CardId { get; set; }
    
    [Parameter]
    public EventCallback OnCreate { get; set; }
    
    private bool isPopupVisible = false;
    private TaskModel _newTask = new TaskModel();
    private string _taskName;
    private string _taskDescription;
    private bool IsLoggedIn;
    
    private void ShowPopup()
    {
        isPopupVisible = true;
    }

    private void HidePopup()
    {
        isPopupVisible = false;
        _taskName = string.Empty;
        _taskDescription = string.Empty;
    }

    private async Task CreateAndClosePopup()
    {
        var user = UserSession.CurrentUser;
        try
        {
            await TaskService.CreateTaskAsync(_taskName, CardId);
            await OnCreate.InvokeAsync();
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
        
        HidePopup();
    }

    protected override async Task OnInitializedAsync()
    {
        IsLoggedIn = await UserSession.IsLoggedInAsync();
    }
}
