@using KanbanRby.Models
@rendermode InteractiveServer
@using Sessions.Interfaces
@inject IUserSession UserSession
@using Services.Interfaces
@using Task = System.Threading.Tasks.Task
@inject IKanbanBoardService KanbanService

@if (IsLoggedIn)
{
    <button class="btn btn-primary" style="margin: 2px" @onclick="ShowPopup">Create a new Board</button>
    @if (isPopupVisible)
    {
        <div class="popup-overlay">
            <div class="popup-content" @onabort:stopPropagation="true">
                <EditForm Model="@_newKanban" OnValidSubmit="@CreateAndClosePopup" FormName="CreateKanban">
                    <div>
                        <label>Name: </label>
                        <InputText @bind-Value="@_kanbanName"></InputText>
                    </div>
                    <div>
                        <label>Description: </label>
                        <InputText @bind-Value="@_kanbanDescription"></InputText>
                    </div>
                    <button type="submit">Save and close</button>
                </EditForm>
            </div>
        </div>
    
    }
    @code {
        private bool isPopupVisible = false;
        private Kanban _newKanban = new Kanban();
        private string _kanbanName;
        private string _kanbanDescription;
        private bool IsLoggedIn;
        
        private void ShowPopup()
        {
            isPopupVisible = true;
        }

        private async Task CreateAndClosePopup()
        {
            var user = UserSession.CurrentUser;
            try
            {
                await KanbanService.CreateKanbanAsync(_kanbanName, _kanbanDescription, user.Id);
            }
            catch(Exception e)
            {
                Console.WriteLine(e.Message);
            }
            
            isPopupVisible = false;
        }

        protected override async Task OnInitializedAsync()
        {
            IsLoggedIn = await UserSession.IsLoggedInAsync();
        }

    }
}
