@using KanbanRby.Models
@rendermode InteractiveServer
@using Sessions.Interfaces
@inject IUserSession UserSession
@using Services.Interfaces
@using Task = System.Threading.Tasks.Task
@inject IKanbanBoardService KanbanService

@if (IsLoggedIn)
{
    <button class="btn btn-primary" style="margin: 2px" @onclick="ShowPopup">Create a new Board</button>
    @if (isPopupVisible)
    {
        <div class="popup-overlay" @onclick="HidePopup">
            <div class="popup-content" @onclick:stopPropagation="true">
                <h3>Create New Board</h3>
                <EditForm Model="@_newKanban" OnValidSubmit="@CreateAndClosePopup" FormName="CreateKanban">
                    <div>
                        <label>Name</label>
                        <InputText @bind-Value="@_kanbanName" placeholder="Enter board name"></InputText>
                    </div>
                    <div>
                        <label>Description</label>
                        <InputText @bind-Value="@_kanbanDescription" placeholder="Enter board description"></InputText>
                    </div>
                    <div style="margin-top: 1rem;">
                        <button type="button" class="btn btn-secondary" @onclick="HidePopup">Cancel</button>
                        <button type="submit" class="btn btn-success">Create Board</button>
                    </div>
                </EditForm>
            </div>
        </div>
    
    }
}

@code {
    private bool isPopupVisible = false;
    private Kanban _newKanban = new Kanban();
    private string _kanbanName;
    private string _kanbanDescription;
    private bool IsLoggedIn;
    [Parameter]
    public EventCallback OnCreate { get; set; }
    
    
    private void ShowPopup()
    {
        isPopupVisible = true;
    }

    private void HidePopup()
    {
        isPopupVisible = false;
        _kanbanName = string.Empty;
        _kanbanDescription = string.Empty;
    }

    private async Task CreateAndClosePopup()
    {
        var user = UserSession.CurrentUser;
        try
        {
            await KanbanService.CreateKanbanAsync(_kanbanName, _kanbanDescription, user.Id);
            await OnCreate.InvokeAsync();
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
        
        HidePopup();
    }

    protected override async Task OnInitializedAsync()
    {
        IsLoggedIn = await UserSession.IsLoggedInAsync();
    }
}
