@using KanbanRby.Models
@rendermode InteractiveServer
@using Sessions.Interfaces
@inject IUserSession UserSession
@using Services.Interfaces
@using Task = System.Threading.Tasks.Task
@inject IKanbanBoardService KanbanService

@if (IsLoggedIn)
{
    <button class="btn btn-sm" style="margin: 2px; background-color: #28a745; border-color: #28a745; color: white;" @onclick="ShowPopup">Update</button>
    @if (isPopupVisible)
    {
        <div class="popup-overlay" @onclick="ClosePopup">
            <div class="popup-content" @onclick:stopPropagation="true">
                <EditForm Model="@_kanban" OnValidSubmit="@UpdateAndClosePopup" FormName="UpdateKanban">
                    <div>
                        <label>Name: </label>
                        <InputText @bind-Value="@_kanban.Name"></InputText>
                    </div>
                    <div>
                        <label>Description: </label>
                        <InputText @bind-Value="@_kanban.Description"></InputText>
                    </div>
                    <button type="submit">Save and close</button>
                </EditForm>
            </div>
        </div>
    }
    @code {
        [Parameter]
        public int KanbanId { get; set; }
        
        [Parameter]
        public EventCallback OnUpdated { get; set; }
        
        private bool isPopupVisible = false;
        private bool IsLoggedIn;
        private Kanban _kanban = new();
        
        private async Task ShowPopup()
        {
            isPopupVisible = true;
            _kanban = await KanbanService.GetByIdAsync(KanbanId);
            StateHasChanged();
        }

        private void ClosePopup()
        {
            isPopupVisible = false;
        }

        private async Task UpdateAndClosePopup()
        {
            try
            {
                await KanbanService.UpdateAsync(_kanban);
                await OnUpdated.InvokeAsync();
            }
            catch(Exception e)
            {
                Console.WriteLine(e.Message);
            }
            
            isPopupVisible = false;
        }

        protected override async Task OnInitializedAsync()
        {
            IsLoggedIn = await UserSession.IsLoggedInAsync();
        }
    }
}
