@page "/login"
@inject ISupabaseService Supabase
@inject ISupabaseAuthService SupabaseAuth
@inject NavigationManager NavigationManager
@using KanbanRby.Models
@using KanbanRby.Services.Interfaces
@using Supabase.Gotrue
@using Task = System.Threading.Tasks.Task
@rendermode InteractiveServer

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="@HandleLogin" FormName="LogInForm">
    <div>
        <label>Email: </label>
        <InputText @bind-Value="@loginModel.Email"></InputText>
    </div> <div>
        <label>Password: </label>
        <InputText @bind-Value="@loginModel.Password" type="password"></InputText>
    </div>
    <button type="submit">Click here!</button>
</EditForm>

@code {
    private LoginModel loginModel = new();
    
    
    private async Task HandleLogin()
    {
        try
        {
            var session = await SupabaseAuth.LoginUserAsync(loginModel.Email, loginModel.Password);
            
            if (session != null)
            {
                Console.WriteLine("Logged in!");
                NavigationManager.NavigateTo("/");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}